.ResumeCard {
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 8px;
}

.ResumeCard__title {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.ResumeCard__icon {
  height: 56px;
}

.ResumeCard__weather {
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
}

.ResumeCardVert {
  width: 100%;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.6);;
}

.ResumeCardVert__title, .ResumeCardVert__weather, .ResumeCardVert__minTemp, .ResumeCardVert__minmax, .ResumeCardVert__maxTemp {
  padding: 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.ResumeCardVert__title {
  height: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.ResumeCardVert__icon {
  height: 100%;
}

.ResumeCardVert__weather, .ResumeCardVert__minTemp, .ResumeCardVert__maxTemp {
  height: 100%;
  font-weight: 700;  
}

.ResumeCard__weather {
  font-size: 2rem;
  line-height: 2.4rem;
}

.ResumeCardVert__minTemp, .ResumeCardVert__maxTemp {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.ResumeCardVert__minTemp {
  padding-right: 6px;
  justify-content: flex-end;
}

.ResumeCardVert__maxTemp {
  padding-left: 6px;
  justify-content: flex-start;
}

.ResumeCardVert__minmax {
  height: 100%;
}

.ResumeCardVert__minmax {
  position: relative;
  padding: 0;
  width: 64px;
  height: 4px;
  background-color: gray;
  border-radius: 2px;
}

.ResumeCardVert__minmax__content {
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, rgba(254,151,0,1) 25%, rgba(255,0,0,1) 75%, rgba(255,0,0,1)100%);
  z-index: 1;
  top: 0;
  left: 0;
}