main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(44,44,44, .45);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.Container {
  width: 100%;
  max-width: 468px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 48px 15px;
  overflow-y: scroll;
}

.Container__day {
  width: 100%;
  max-width: 468px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 48px 15px;
  overflow-y: scroll;
  background: no-repeat url(../assets/img/day.webp);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.65);
  position: relative;
}

.Container__night {
  width: 100%;
  max-width: 468px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 48px 15px;
  overflow-y: scroll;
  background-image: url(../assets/img/night.webp);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.65);
  position: relative;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.loader__spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgba(151, 150, 153, 0.6);
  border-left-color: #11138b;
  margin-bottom: 10px;

  animation: spin 1s linear infinite;
}

.loader__text {
  font-size: 2.2rem;
  font-weight: 500;
}
