main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 32px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px;
  margin: 0 5px;
}

.day {
  background: no-repeat url(../assets/img/day.webp);
  background-size: cover;
}

.night {
  background-image: url(../assets/img/night.webp);
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 48px 15px;
  background-color: rgba(44,44,44, .45);
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.loader__spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0, .1);
  border-left-color: #0e2e72;
  margin-bottom: 10px;

  animation: spin 1s linear infinite;
}

.loader__text {
  font-size: 2.2rem;
  font-weight: 500;
}